# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.vscode/

# Project Specific
backend/models/
backend/.venv/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
config.bat
